<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rfidafapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b37298f9-3c25-488a-b74c-883a7ac45051/resourceGroups/teknisk-test-javed/providers/Microsoft.Web/sites/RFIDAFAPI</ResourceId>
    <UserName>$RFIDAFAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://rfidafapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>